<app-navbar *ngIf="exibirNavbar()"></app-navbar>
<router-outlet></router-outlet>

<p-toast
  [showTransformOptions]="'translateY(100%)'"
  [showTransformOptions]="'translateX(100%)'"
></p-toast>

<p-confirmDialog #cd>
  <ng-template pTemplate="footer">
    <button
      type="button"
      pButton
      icon="pi pi-check"
      label="Sim"
      (click)="cd.accept()"
    ></button>
    <button
      type="button"
      pButton
      icon="pi pi-times"
      label="Não"
      class="p-button-outlined"
      (click)="cd.reject()"
    ></button>
  </ng-template>
</p-confirmDialog>
