<div class="container">
  <form #lancamentoForm="ngForm" (ngSubmit)="salvar(lancamentoForm)">
    <div class="grid">
      <div class="col-12">
        <h1>{{ editando ? "Edição de" : "Novo" }} Lançamento</h1>
      </div>

      <div class="col-12">
        <p-selectButton
          [options]="tipos"
          name="tipo"
          [(ngModel)]="lancamento.tipo"
          #tipo
        ></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar
          dateFormat="dd/mm/yy"
          name="dataVencimento"
          [(ngModel)]="lancamento.dataVencimento"
          #vencimento="ngModel"
          [required]="true"
        ></p-calendar>
        <p-message
          styleClass="mt-2"
          *ngIf="vencimento.hasError('required') && vencimento.dirty"
          severity="error"
          text="Informe uma data de vencimento"
        ></p-message>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>
          {{ tipo.value === "RECEITA" ? "Recebimento" : "Pagamento" }}
        </label>
        <p-calendar
          dateFormat="dd/mm/yy"
          name="dataPagamento"
          [(ngModel)]="lancamento.dataPagamento"
        ></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <input
          pInputText
          type="text"
          name="descricao"
          required
          minlength="5"
          [(ngModel)]="lancamento.descricao"
          #descricao="ngModel"
        />
        <p-message
          styleClass="mt-2"
          *ngIf="descricao.hasError('required') && descricao.dirty"
          severity="error"
          text="Informe uma descrição"
        ></p-message>
        <p-message
          styleClass="mt-2"
          *ngIf="descricao.hasError('minlength') && descricao.dirty"
          severity="error"
          text="Mínimo de 5 caracteres"
        ></p-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber
          mode="currency"
          currency="BRL"
          locale="pt-BR"
          placeholder="R$ 0,00"
          name="valor"
          [(ngModel)]="lancamento.valor"
          #valor="ngModel"
          [required]="true"
        >
        </p-inputNumber>
        <p-message
          styleClass="mt-2"
          *ngIf="valor.hasError('required') && valor.dirty"
          severity="error"
          text="Informe um valor"
        ></p-message>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown
          [options]="categorias"
          placeholder="Selecione"
          name="categoria"
          [(ngModel)]="lancamento.categoria.id"
          [required]="true"
        ></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown
          [options]="pessoas"
          placeholder="Selecione"
          [filter]="true"
          name="pessoa"
          [(ngModel)]="lancamento.pessoa.id"
          [required]="true"
        ></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea
          pInputTextarea
          rows="3"
          name="observacao"
          [(ngModel)]="lancamento.observacao"
        ></textarea>
      </div>

      <div class="col-12 flex align-items-center gap-2">
        <button
          icon="pi pi-check"
          pButton
          type="submit"
          label="Salvar"
          [disabled]="lancamentoForm.invalid"
        ></button>
        <button
          icon="pi pi-plus"
          pButton
          type="button"
          label="Novo"
          class="p-button-info"
          (click)="novo(lancamentoForm)"
        ></button>
        <a routerLink="/lancamentos">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
